.idea/.gitignore
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
target/classes/analyze/Analyzer.class
target/classes/analyze/APKAnalyzer.class
target/classes/analyze/BinaryAnalyzer.class
target/classes/analyze/CallGraphTransform.class
target/classes/analyze/ClassAttr.class
target/classes/analyze/Configuration.class
target/classes/analyze/MarkedMethod.class
target/classes/analyze/MethodAttr.class
target/classes/analyze/Pair.class
target/classes/analyze/ParsePatchFiles.class
target/classes/analyze/PatchPresentTest_new.class
target/classes/analyze/PatchPresentTest.class
target/classes/analyze/PatchState.class
target/classes/analyze/PatchSummary.class
target/classes/analyze/SootCallGraph.class
target/classes/analyze/TimeRecorder.class
target/classes/dataflow/PIAnalysis.class
target/classes/dataflow/PredicateFlowSet.class
target/classes/signTPL/AbortAnalysisException.class
target/classes/signTPL/MainClass.class
target/classes/similarity/CombinationSelect.class
target/classes/similarity/dp.class
target/classes/similarity/EditDistance.class
target/classes/similarity/HungarianAlgorithm.class
target/classes/similarity/LibIDThread.class
target/classes/similarity/PathSimilarityThread.class
target/classes/similarity/SimilarityUtil.class
target/classes/symbolicExec/MethodDigest_new.class
target/classes/symbolicExec/MethodDigest_new2.class
target/classes/symbolicExec/MethodDigest.class
target/classes/symbolicExec/predicateAST.class
target/classes/test/CorrectnessTest.class
target/classes/test/CorrectnessTest$TestCase.class
target/classes/test/evalTest.class
target/classes/test/MethodDigestTest.class
target/classes/test/PerEditOperationCorrectnessTest.class
target/classes/test/PerEditOperationCorrectnessTest$TestCase.class
target/classes/test/runMainClass.class
target/classes/treeEditDistance/costmodel/CostModel.class
target/classes/treeEditDistance/costmodel/NodeType.class
target/classes/treeEditDistance/costmodel/PerEditOperationStringNodeDataCostModel.class
target/classes/treeEditDistance/costmodel/PredicateCostModel_back.class
target/classes/treeEditDistance/costmodel/PredicateCostModel.class
target/classes/treeEditDistance/costmodel/StringUnitCostModel.class
target/classes/treeEditDistance/distance/AllPossibleMappingsTED.class
target/classes/treeEditDistance/distance/APTED.class
target/classes/treeEditDistance/node/Node.class
target/classes/treeEditDistance/node/NodeIndexer.class
target/classes/treeEditDistance/node/PredicateNodeData.class
target/classes/treeEditDistance/node/StringNodeData.class
target/classes/treeEditDistance/parser/BracketStringInputParser.class
target/classes/treeEditDistance/parser/InputParser.class
target/classes/treeEditDistance/util/CommandLine.class
target/classes/treeEditDistance/util/FormatUtilities.class
target/classes/util/AARUtils.class
target/classes/util/Commit.class
target/classes/util/FileToLines.class
target/classes/util/Hunk.class
target/classes/util/Pair.class
target/classes/util/Patch.class
target/classes/util/WriteLinesToFile.class
